

body{
    background-image: url("./FONDOSI.jpg");
    background-color: rgb(61, 105, 144);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position-y: 0%;
    background-attachment: fixed;
    
}

button{
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 60px;
    font-size: 40px;
    color:white;
    background-color:transparent;
    background-attachment:fixed;
    border:none;
    position: relative;
}

i{
    height: 25px;
    width: 15px;
}

button:hover{
    color:gray;
    display: inline-block;


}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


section{
    align-items:flex-end;
    background-color:transparent;
    display: flex;
    height: 70px;

}